/* START FOOTER */
/* STYLE APPLIED TO THE MOBILE */
.site-footer {
  min-width: 320px;
  background: var( --secondary-color-100);
}

.footer-container {
  padding: 17px 50px;
}

.footer-copy-right {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 32px;
  color: var(--primary-color-300);
}

/* STYLE APPLIED TO THE TABLET */
@media (min-width: 650px) {
  .footer-container {
    padding: 25px 0 25px 60px;
  }
}

/* STYLE APPLIED TO THE DESKTOP */
@media (min-width: 1024px) {
  .footer-container {
    padding: 45px 0 45px 124px;
  }
  
  .footer-copy-right {
    font-size: var(--font-size-m);
    line-height: 27px;
  }
}
/* END FOOTER */
