.introduce-container {
  min-width: 375px;
}

.introduce-content {
  padding: 30px 21px;  
  text-align: center;
}

.introduce-box {
  padding: 0 20px;
  text-align: center;
}

@media (min-width: 650px) {
  .introduce-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .introduce-box {    
    text-align: center;
    padding-top: 99px;
  }
}

@media (min-width: 1024px) {
  .introduce-container {
    max-width: 1153px;
    margin: 120px auto 140px;
  }

  .introduce-content {
    width: 85%;
    margin: 0 auto 91px;
    padding: 0;
  }

  .introduce-box {
    max-width: 1153px;
    margin: 0 auto;
    padding: 0;  
  }
}
