/* START HEADER */
/* MOBILE */
.site-header {
  background-image: radial-gradient(118.67% 101.66% at 141.47% 78.12%, #FFF 0%, rgba(255, 255, 255, 0) 100%), url(/src/assets/bgr-header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 166.15px;
}

.header-box {
  display: flex;
  justify-content: space-between;
}

.crossbar {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: none;
}

.header-btn {
  /* padding: 10px 20px; */
  margin-top: 35px;
  margin-bottom: 23px;
  font-weight: var(--font-weight-m);
  font-size: var( --font-size-s);
  line-height: 20px;
}

.hamburger-icon {
  padding-top: 40px;
  padding-left: 25px;
}

.bar {
  margin: 6px 0; 
}

.site-header .title {
  width: 80%;
  line-height: 30px;
  text-align: center;
  margin: 62px auto 0;
}

.introduce {
  line-height: 25px;
  width: 80%;
  margin: 10px auto 60px;
  letter-spacing: 0.2px;
  text-align: center;
}

.register-form {
  width: 335px;
  height: 60px;
  margin: 0 auto;
  background-color: var(--primary-color-300);
  border-radius: 8px;
}

.text-input {
  display: inline-block;
  width: 60%;
  font-size: 12px;
  line-height: 20px;
  font-weight: var(--font-weight-xs);
  background-color: transparent;
  border-radius: 50px 0 0 50px;
  border: none;
  outline: none;
  padding: 19px 24px 20px 21px;
}

.register-btn {
  font-size: var(--font-size-s);
  line-height: 19px;
  display: inline-block;
  border-radius: 8px;
  padding: 16px 15px;
}

/* DESKTOP */
@media (min-width: 651px) {
  .site-header {
    max-width: 1440px;
    background-image: url(/src/assets/bgr-header-desktop.png);
    background-size: cover;
    background-position: right 20%;
    padding-bottom: 168px;
  }

  .hamburger-icon {
    display: none;
  }

  .crossbar {
    padding-top: 48px;
  }

  .site-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    margin-top: 10px;
  }

  .menu-item {
    margin-right: 24px;
  }

  .menu-item-link {
    font-weight: var(--font-weight-m);
    font-size: 16px;
    line-height: var(--line-height-s);
    color: var(--primary-color-100);
    text-decoration: none;
    padding: 20px 0;
  }
  
  .header-btn {
    margin-top: 35px;
    margin-right: 115px;
  }

  .site-header .title {
    line-height: 72px;
    width: 50%;
    margin: 114px 0 13px 122px;
    text-align: left;
  }

  .site-header .introduce {
    width: 40%;
    line-height: var(--line-height-l);
    text-align: left;
    margin-left: 122px;
    margin-bottom: 35px;
  }

  .register-form {
    width: 502px;
    height: 72px;
    margin-left: 122px;
    margin-top: 32px;
  }

  .text-input {
    width: 63%;
    font-size: 16px;
    line-height: var(--line-height-l);
  }

  .register-btn {
    font-size: var(--font-size-m);
    line-height: 27px;
    font-weight: var(--font-weight-m);
  }
}
/* END HEADER */
