/* START HEADER */
/* STYLE APPLIED TO THE MOBILE */
.site-header {
  background-image: radial-gradient(118.67% 101.66% at 141.47% 78.12%, #FFF 0%, rgba(255, 255, 255, 0) 100%), url(/src/assets/bgr-header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 20%;
  min-width: 320px;
}

.header-container {
  width: 89%;
  margin: 0 auto;
  padding-bottom: 166px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 62px;
}

.nav-menu {
  display: none;
}

.header-btn { 
  font-size: var( --font-size-s);
  line-height: 20px;
}

.header-content-title {
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.header-content-introduce {
  line-height: 24px;
  margin-bottom: 60px;
  letter-spacing: 0.2px;
  text-align: center;
}

.register-form {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-300);
  border-radius: 8px;
}

.header-text-input {
  font-size: 12px;
  line-height: 20px;
  background-color: transparent;
  border-radius: 50px 0 0 50px;
  border: none;
  outline: none;
  padding: 19px 0 20px 21px;
}

.register-btn {
  font-size: var(--font-size-s);
  line-height: 19px;
  margin: 5px;
}

/* STYLE APPLIED TO THE TABLET */
@media (min-width: 650px) {
  .header-container {
    width: 100%;
  }

  .hamburger-icon {
    display: none;
  }

  .header-box {
    justify-content: flex-end;
    padding: 35px 25px 80px 0;
  }

  .nav-menu {
    display: inline;
  }

  .menu-item {
    display: inline;
    margin-left: 15px;
  }

  .menu-item-link {
    font-size: 16px;
    line-height: var(--line-height-s);
    color: var(--primary-color-100);
    text-decoration: none;
    padding: 20px 0;
  }
  
  .header-btn {
    margin-left: 25px;
  }

  .header-content {
    width: 70%;
    text-align: center;
    padding-left: 20px;
  }

  .header-content-title {
    width: 100%;
    line-height: 50px;
    margin: 0 auto 15px;
  }

  .header-content-introduce {
    width: 100%;
    margin: 0 auto 50px;
  }

  .register-form {
    width: 400px;
    margin: 0 auto;
  }

  .header-text-input {
    width: 63%;
    padding: 24px 10px;
  }
}

/* STYLE APPLIED TO THE DESKTOP */
@media (min-width: 1024px) {
  .site-header {
    width: 100%;
    background-image: url(/src/assets/bgr-header-desktop.png);
    background-size: 100% 100%;
  }

  .header-box {
    padding: 35px 115px 111px 0;
  }

  .hamburger-icon {
    display: none;
  }  
  
  .nav-menu {
    display: inline;
  }

  .menu-item {
    display: inline;
    margin-left: 40px;
  }
  
  .header-btn {
    margin-left: 35px;
  }

  .header-content {
    width: 46%;
    margin: 0;
    padding-left: 122px;
  }

  .header-content-title {
    line-height: 72px;
    margin-bottom: 13px;
    text-align: left;
  }

  .header-content-introduce {
    line-height: var(--line-height-l);
    margin: 0;
    margin-bottom: 35px;
    text-align: left;
  }

  .register-form {
    width: 502px;
    margin: 0;
    text-align: left;
  }

  .header-text-input {
    width: 67%;
    font-size: 16px;
    line-height: var(--line-height-l);
    padding: 18px 0 18px 32px;
  }

  .register-btn {
    font-size: var(--font-size-m);
    line-height: 27px;
  }
}
/* END HEADER */
