/* START BOOST-BUSINESS */
.section-boost-business {
  padding-top: 150px;
  max-width: 968px; 
  margin: 0 auto;
}

.boost-business-group {
  width: auto;
  text-align: center;
  background: var(--primary-color-100);
  border-radius: 32px;
  margin: 0 20px;
  padding: 0;
}

.boost-business-container {
  width: 361px;
  height: auto;
  margin: 0 auto;
}

.boost-business-wrap {
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: justify;
}

.boost-business-title {
  color: var(--secondary-color-100);
  font-weight: var(--font-weight-m);
  font-size: 32px;
  line-height: 48.45px;
  width: 500px;
}

.img-boost-business {
  width: 100%;
  height: 340px;
}

/* style applied to the mobile */
@media (max-width: 915px) {
  .boost-business-group {
    display: block;
  }

  .boost-business-wrap {
    align-items: center;
  }

  .boost-business-title {
    text-align: center;
    width: 328px;
    padding-top: 17px;
  }

  .section-boost-business .btn {
    margin-top: 70px;
    margin-bottom: 42px;
  }
  .boost-business-container {
    width: 328px;
  }
}

/* style applied to the tablet */
@media (min-width: 916px) {
  .boost-business-group {
    display: flex;
  }
  

  .boost-business-title {
    padding-top: 49px;
    width: 440px;
    text-align: left;
  }

  .section-boost-business .btn {
    width: 150px;
    margin: 50px 0px;
  }

  .img-boost-business {
    padding-top: 14px;
  }
}
/* END BOOST-BUSINESS */

