/* START MAIN HEADER */
/* style applied to the mobile */
.site-header {
  background: var(--secondary-color-100);
}

.site-header .general-container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.site-header {
  height: 70px;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
}

.logo {
  margin: auto;
}

.site-nav {
  display: none;
}

.navbar {
  display: block;
  cursor: pointer;
  padding: 20px 10px;
}

.branch-container {
  display: inline-flex;
}

.branch-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.branch-img {
  display: inline-block;
  width: 100%;
}

.branch-name {
  display: inline;
  margin-left: 16px;
  font-size: 30px;
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-xl);
  color: var(--primary-color-200);
}

.menu-item {
  margin-right: 24px;
}

.menu-item-link {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-xs);
  line-height: var(--line-height-xl);
  color: var(--primary-color-200);
  text-decoration: none;
}

.menu-item-link:hover {
  font-weight: var(--font-weight-m);
  color: var(--primary-color-300);
}

.bar {
  width: 35px;
  height: 5px;
  background-color: var( --primary-color-300);
  margin: 6px 0; 
}

/* style applied to the tablet */
@media (min-width: 1024px) {
  .site-header {
    height: 80px;
    margin: 0 auto;
  }

  .site-nav {
    padding-top: 5px;
  }

  .btn {
    color: var(--primary-color-200);
  }

  .mr-24 {
    margin-right: 24px;
  }

  .menu-item-link {
    padding: 10px 0;
  }

  .navbar {
    display: none;
  }

  .site-nav,
  .nav-menu,
  .menu-item {
    display: flex;
    align-items: center;
  }
}

/* END MAIN HEADER */
