/* START PRODUCT */
/* style applied to the mobile */
.section-product {
  padding-top: 150px;
}

.product-introduce {
  font-weight: var(--font-weight-l);
  width: 90%;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin: 0 auto;
}

.product-group {
  padding-top: 33px;
  display: block;
}

.product-box {
  display: grid;
  row-gap: 24px;
  margin: 32px auto;
}

.feature {
  text-align: left;
}

.feature-icon {
  width: 40px;
  height: auto;
}

.feature-title {
  width: 100%;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-m);
  line-height: var(--line-height-2xl);
  padding-top: 7px;
  padding-left: 15px;
}

.feature-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.feature-content {
  padding-left: 8px;
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--font-weight-xs);
  width: 85%;
}

.product-img-mobile {
  display: block;
  width: 352px;
  margin: 0 auto;
}

.img-mobile {
  width: 100%;
}

.product-img-desktop {
  display: none;
}

/* style applied to the tablet */
@media (min-width: 1024px) {
  .product-group {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-xl);
    line-height: 51px;
  }

  .product-img-desktop {
    padding-top: 24px;
    padding-left: 20px;
    width: 528px;
  }

  .section-product .content {
    width: 533px;
  }

  .feature-content {
    width: 99%;
  }

  .product-box {
    width: 533px;
    row-gap: 32px;
  }

  .product-img-desktop {
    display: block;
  }

  .img-desktop {
    width: 100%;
  }

  .product-img-mobile {
    display: none;
  }
}
/* END PRODUCT */
