.nav{
    align-items: flex-start;
    display: flex;
    height: 43px;
    width: 1328px;
}
.open{
    letter-spacing: -1.28px;
    margin-left: 8px;
    height: 38px;
    width: 209px;
    font-size: 25px;
    margin-top: 30px;
}
.logo{
    height: 40px;
    width: 68px;
    margin-top: 30px;
    float: left;
}
.menu{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: -1000px;
}
.menu li{
    display: inline-block;
    margin-right: 30px;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-size: 110%;
    font-weight: 700;
    padding: 3px 0;
}
.menu li a:hover,
.menu li a:active{
    border-bottom: 3px solid blue;
}
#request{
    color: greenyellow;
}
/*========================================================*/
.group3{
   position: absolute;  
   width: 1328px;
   height: 482px;
   left: 56px;
   top: 83px;
}
.right-column{
    position: absolute;
    height: 482px;
    left: 702px;
    top: 83px;
}
.picture1{
    position: absolute;
    left: 3.25%;
    right: 5.15%;
    top: 18.15%;
    bottom: 5%;

}

