@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 2em;
}

@media (min-width: 575px) {
    article {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}