.hamburger-icon {
  display: block;
  height: 32px;
  width: 32px;
  padding-top: 47px;
  padding-left: 23px
}

.line {
  display: block;
  height: 4px;
  margin-bottom: 5px;
  border-radius: 10px;
  background: #0e2431;
}
