html {
  font-family: var(--primary-font);
}
.text-bold-800 {
  font-weight: var(--font-weight-l);
}

.text-bold-700 {
  font-weight: var(--font-weight-m);
}

.text-light {
  font-weight: (--font-weight-xs);
}

.title {
  font-size: var(--font-size-l);
}

.introduce {
  font-size: var(--font-size-s);
}

@media (min-width: 1024px) { 
  .title {
    font-size: var(--font-size-xl);
  }

  .introduce {
    font-size: var(--font-size-l);
  } 
}
