.text-bold {
  font-weight: var(--font-weight-l);
}

.text-light {
  font-weight: (--font-weight-xs);
}

.title {
  font-size: var(--font-size-l);
}

.introduce {
  font-size: var(--font-size-s);
}

@media (min-width: 651px) { 
  .title {
    font-size: 48px;
  }

  .introduce {
    font-size: var(--font-size-m);
  } 
}
