.title {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-m);
  line-height: var(--line-height-2xl);
  display: inline-block;
}

.introduce {
  font-size: 40px;
  font-weight: var(--font-weight-l);
  line-height: 60px;
}

.content {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-s);
  line-height: var(--line-height-s);
}
