@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* FONT SIZE */
  --font-size-xs: 16px;
  --font-size-s: 18px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 34px;
    
  /* LINE HEIGHT */
  --line-height-xs: 22px;
  --line-height-s: 24px;
  --line-height-m: 28px;
  --line-height-xl: 30px;
  --line-height-2xl: 36px;
  --line-height-5xl: 40px;
    
  /* FONT WEIGHT */
  --font-weight-xs: 400;
  --font-weight-s: 500;
  --font-weight-m: 600;
  --font-weight-l: 700;
    
  /* FONT FAMILY */
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Inter', sans-serif;
    
  /* COLOR */
  --primary-color-100: #02897A;
  --primary-color-200: #173A56;
  --primary-color-300: #22343D;
  --secondary-color-100: white;
  --secondary-color-200: #AFAFAF;
}

/* START PRICING */
.general {
  font-family: var(--primary-font);
  font-style: normal;
  color: var(--primary-color-300);  
}
.section-enterprise {
  background: linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.section-pricing {
  margin-top: 50px;
  margin-bottom: 150px;
  text-align: center;
  background: var(--secondary-color-100);
}

.general-content {
  width: 1200px;
}

.introduce {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-m);
  line-height: 60px;
  display: inline-block;
}

.title {
  font-size: 40px;
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-8xl);
}

.content {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-s);
  line-height: var(--line-height-m);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin:  auto;
  margin-top: 50px;
  position: relative;
  width: 1200px;
}

.card {
  background: var(--secondary-color-100);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 323px;
  height: 450px;
}

.card-title {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-5xl);
  padding-top: 24px;
}

.brief {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-xs);
  line-height: var(--line-height-5xl);
  padding-top: 8px;
}

.money-per-month {
  display: flex;
  padding-left: 80px;
}

.section-pricing .money-per-month {
  color: var(--primary-color-100);
}

.money {
  font-size: 76px;
  font-weight: var(--font-weight-l);
  line-height: 100px;
  padding-top: 16px;
}

.dollar-month {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-top: 40px;
}

.dollar {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-2xl);
  margin-right: 70px;
}

.per-month {
  font-size: 19px;
  font-weight: var(--font-weight-xs);
  line-height: var(--line-height-xs);
  letter-spacing: 0.1px;
  color: var(--secondary-color-200);
}

.information {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-s);
  line-height: var(--line-height-s);
  font-family: var(--secondary-font);
}

.quantity {
  padding-bottom: 16px;
}

.landing-pages {
  padding-top: 16px;
}

.section-pricing .btn {
  background-color: var(--primary-color-100);
  color: var(--secondary-color-100);
  margin: 38px 92px;
  border-radius: 8px;
}

.section-pricing .card:hover {
  background-color: var(--primary-color-100);
  color: var(--secondary-color-100);
}

.section-pricing .btn:hover {
  background-color: var(--secondary-color-100);
  color: var(--primary-color-100);
} 

@media (max-width: 480px) {
  .section-pricing {
    height: 1733px;
    text-align: center;
  }

  .general-content {
    width: 480px;
  }

  .section-pricing .title {
    margin: 0px 32px;
  }
  
  .section-pricing .content {
    width: 370px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 18px;
    margin-left: 40px;
  }

  .section-pricing .cards {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 480px;
    width: 0 auto;
  }

  .section-pricing .card {
    margin: 0 auto;
  }
}

@media (min-width: 481px) {
  .general-content {
    position: relative;
    justify-content: center;
    margin: 0 auto;
  }

  .section-pricing .cards {
    justify-content: center;
    gap: 70px;
  } 
}
/* END PRICING */

/* START ENTERPRISE */
.section-enterprise {
  text-align: center;
  
}

@media (max-width: 480px) {
  .section-enterprise {
    width: 480px;
  }

  .section-enterprise .introduce {
    padding-top: 47px;
  }

  .section-enterprise .title {
    line-height: var(--line-height-6xl);
    font-size: 34px;
    margin: 0 auto;
    width: 350px;
  }
  
  .section-enterprise .content {
    width: 320px;
    align-items: center;
    margin: 25px auto;
  }

  .section-enterprise .btn-bg-green {
    margin: 28px auto;
  }
}

@media (min-width: 481px) {
  .section-enterprise .introduce {
    padding-top: 53px;
  }

  .section-enterprise .title {
    margin: 16px auto;
  }

  .section-enterprise .content {
    margin: 8px auto;
  }

  .section-enterprise .btn-bg-green {
    margin: 32px auto;
  }
}
/* END ENTERPRISE */
