/* START INTRODUCE */
.introduce-title {
  line-height: 33px;
  margin-bottom: 30px;
}

.service-introduction {
  line-height: var(--line-height-s);
  width: 95%;
  margin: 0 auto;
}

.service {
  margin-bottom: 87px;
}

.introduce-icon {
  margin-bottom: 10px;
}

.service-title {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 28px;
}

.content-services {
  width: 90%;
  font-size: var(--font-size-m);
  line-height: 28px;
  letter-spacing: 0.2px;
  margin: 0 auto;
}

/* TABLET */
@media (min-width: 650px) {
  .introduce-title {
    line-height: 30px;
  }

  .service {
    width: 40%;
    margin: 0 auto 90px;
  }

  .content-services {
    width: 60%;
    margin: 0 auto;
  }  
}

/* DESKTOP */
@media (min-width: 1024px) {
  .introduce-title {
    line-height: 66px;
  }

  .service-introduction {
    width: 100%;
    line-height: var(--line-height-l);
  }

  .service {
    width: 28%;
    display: inline-block;
    text-align: center;
    margin-right: 6%;
  }

  .service:nth-child(3) {
    margin: 0;
  }

  .service:nth-child(6) {
    margin: 0;
  } 

  .mb-85 {
    margin-bottom: 85px;
  }

  .service-title {
    width: 100%;
    font-size: var(--font-size-l);
    line-height: 33px;
  }

  .content-services {
    font-size: var(--font-size-m);
    line-height: 27px;
    width: 100%;
    margin: 0;
  }
}
/* END INTRODUCE */
