@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* FONT SIZE */
  --font-size-xs: 16px;
  --font-size-s: 18px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 30px;
  --font-size-2xl: 32px;
  --font-size-3xl: 34px;
  --font-size-4xl: 40px;
  --font-size-5xl: 76px;
    
  /* LINE HEIGHT */
  --line-height-xs: 19px;
  --line-height-s: 22px;
  --line-height-m: 24px;
  --line-height-l: 27px;
  --line-height-xl: 28px;
  --line-height-2xl: 30px;
  --line-height-3xl: 35px;
  --line-height-4xl: 36px;
  --line-height-5xl: 40px;
  --line-height-6xl: 48px;
  --line-height-7xl: 51px;
  --line-height-8xl: 60px;
  --line-height-9xl: 100px;
    
  /* FONT WEIGHT */
  --font-weight-xs: 400;
  --font-weight-s: 500;
  --font-weight-m: 600;
  --font-weight-l: 700;
    
  /* FONT FAMILY */
  --font-family-pop: 'Poppins', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
    
  /* COLOR */
  --primary-color-100: #02897A;
  --primary-color-200: #173A56;
  --primary-color-300: #22343D;
  --secondary-color-100: white;
  --secondary-color-200: #AFAFAF;

}

/* START MAIN HEADER */
.main-header {
  width: 100%;
  max-width: 100%;
}

.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.brach-container {
  display: flex;
  align-items: center;
}

.branch-name {
  margin-left: 16px;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-xl);
  color: var(--primary-color-200);
}

.menu-button {
  display: flex;
}

.menu {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 24px;
}

.menu-item {
  display: flex;
  padding: 0 24px;
}

.link {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-s);
  line-height: var(--line-height-xl);
  color: var(--primary-color-200);
  text-decoration: none;
}

.link:hover {
  color: var(--primary-color-300);
}

.btn {
  background-color: var(--secondary-color-100);
  padding: 10px 25px;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-m);
  border-radius: 4px;
  margin: 12px;
}

.main-header .btn {
  color: var(--primary-color-200);
}
.btn:hover {
  background-color: var(--primary-color-100);
  color: var(--secondary-color-100);
}

.navbar {
  display: none;
  cursor: pointer;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0; 
}

@media (max-width: 480px) {
    .main-header {
      width: 0 auto;
      align-items: center;
    }

    .container {
      height: 70px;
      width: 480px;
      box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    }
    
    .brach-container {
      margin: 17px 8px 17px 32px;
    }

    .navbar {
      display: block;
      margin: 27px 43px 30px;
    }

    .menu-button {
      display: none;
    }
}

@media (min-width: 481px) {
    .main-header {
      height: 80px;
      margin: 0 auto;
      min-height: 0;
    }

    .brach-container {
      margin: 30px;
    }
}
/* END MAIN HEADER */

/* START PRICING */
.general {
  font-family: var(--font-family-pop);
  font-style: normal;
  color: var(--primary-color-300);
}

.section-pricing {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
}

.general-content {
  position: relative;
  width: 1200px;
}

.introduce {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-m);
  line-height: var(--line-height-4xl);
}

.title {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-8xl);
}

.content {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-s);
  line-height: var(--line-height-m);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin:  auto;
  margin-top: 50px;
  position: relative;
  width: 1200px;
}

.card {
  background: var(--secondary-color-100);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 323px;
  height: 450px;
}

.card-title {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-5xl);
  padding-top: 24px;
}

.brief {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-xs);
  line-height: var(--line-height-5xl);
  padding-top: 8px;
}

.money-per-mont {
  display: flex;
  padding-left: 70px;
  color: var(--primary-color-100);
}

.money {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-9xl);
  padding-top: 16px;
}

.dollar-month {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-top: 40px;
}

.dollar {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-2xl);
  margin-right: 70px;
  
}

.per-month {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-xs);
  line-height: var(--line-height-xs);
  letter-spacing: 0.1px;
  color: var(--secondary-color-200);
}

.information {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-s);
  line-height: var(--line-height-s);
  font-family: var(--font-family-inter);
}

.quantity {
  padding-bottom: 16px;
}

.landing-pages {
  padding-top: 16px;
}

.section-pricing .btn {
  background-color: var(--primary-color-100);
  color: var(--secondary-color-100);
  margin: 38px 92px;
}

.section-pricing .card:hover {
  background-color: var(--primary-color-100);
  color: var(--secondary-color-100);
}

.section-pricing .btn:hover {
  background-color: var(--secondary-color-100);
  color: var(--primary-color-100);
} 

@media (max-width: 480px) {
  .section-pricing {
    height: 1733px;
    text-align: center;
  }

  .general-content {
    width: 480px;
  }

  .title {
    margin: 0px 32px;
  }
  
  .content {
    width: 370px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 18px;
    margin-left: 40px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 480px;
    width: 0 auto;
  }

  .card {
    margin: 0 auto;
  }
}

@media (min-width: 481px) {
  .general-content {
    position: relative;
    justify-content: center;
    margin: 0 auto;
  }

  .cards {
    justify-content: center;
    gap: 70px;
  } 
}
/* END PRICING */
