/* START ENTERPRISE */
.section-enterprise {
  text-align: center;
  background: linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 100%);
}

.general-content {
  max-width: 1200px;
  padding: 0 20px;
}

.secondary-btn {
  background: var(--primary-color-100);
  color: var(--secondary-color-100);
  border-radius: 8px;
}

.secondary-btn:hover {
  background-color: var(--secondary-color-100);
  color: var(--primary-color-100);
} 

.mr-btn {
  margin: 38px auto 51px;;
}

@media (max-width: 915px) {
  .title {
    padding-top: 47px;
  }

  .introduce {
    line-height: 48px;
    font-size: 32px;
    margin: 24px auto;
    width: 350px;
  }
  
  .content {
    width: 320px;
    align-items: center;
    margin: 0 auto;
  }

  .secondary-btn {
    margin: 32px auto 46px;
  }
}

@media (min-width: 916px) {
  .title {
    padding-top: 53px;
  }

  .introduce {
    /* margin: 16px auto; */
    margin-top: 16px;
  }

  .content {
    margin-top: 8px;
  }
}
/* END ENTERPRISE */
