/* START ENTERPRISE */
.section-enterprise {
  text-align: center;
}

.general-container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.section-enterprise .content {
  font-weight: var(--font-weight-xs);
}

.secondary-btn {
  background: var(--primary-color-100);
  color: var(--secondary-color-100);
  border-radius: 8px;
}

.secondary-btn:hover {
  background-color: var(--secondary-color-100);
  color: var(--primary-color-100);
} 
.section-enterprise .secondary-btn {
  margin: 38px auto 51px;
}

/* style applied to the mobile */
@media (max-width: 915px) {
  .title {
    padding-top: 47px;
  }

  .introduce {
    line-height: 48px;
    font-size: 32px;
    margin: 24px auto;
    width: 350px;
  }
  
  .content {
    width: 320px;
    align-items: center;
    margin: 0 auto;
  }

  .secondary-btn {
    margin: 32px auto 46px;
  }
}

/* style applied to the tablet  */
@media (min-width: 916px) {
  .title {
    padding-top: 53px;
  }

  .introduce {
    margin-top: 16px;
  }

  .content {
    margin-top: 8px;
  }
}
/* END ENTERPRISE */
