/* START ENTERPRISE */
.section-enterprise {
  text-align: center;
  background: linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 100%);
}

.general-content {
  max-width: 1200px;
}

.section-enterprise .secondary-btn {
  background: var(--primary-color-100);
  color: var(--secondary-color-100);
  margin: 38px 92px;
  border-radius: 8px;
}

.section-enterprise .secondary-btn:hover {
  background-color: var(--secondary-color-100);
  color: var(--primary-color-100);
} 

@media (max-width: 915px) {
  .section-enterprise .introduce {
    padding-top: 47px;
  }

  .section-enterprise .title {
    line-height: 48px;
    font-size: 32px;
    margin: 24px auto;
    width: 350px;
  }
  
  .section-enterprise .content {
    width: 320px;
    align-items: center;
    margin: 0 auto;
  }

  .section-enterprise .btn-bg-green {
    margin: 32px auto 46px;
  }
}

@media (min-width: 916px) {
  .section-enterprise .introduce {
    padding-top: 53px;
  }

  .section-enterprise .title {
    margin: 16px auto;
  }

  .section-enterprise .content {
    margin: 8px auto;
  }

  .section-enterprise .btn-bg-green {
    margin: 32px auto;
  }
}
/* END ENTERPRISE */
