/* START MAIN HEADER */
.site-header {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.site-header .branch-container {
  display: inline-flex;
}

.site-header .branch-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.site-header .branch-img {
  display: inline-block;
  width: 40px;
  height: auto;
}

.site-header .branch-name {
  display: inline;
  margin-left: 16px;
  font-size: 30px;
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-xl);
  color: var(--primary-color-200);
}

.site-nav,
.nav-menu,
.menu-item {
  display: flex;
  align-items: center;
}

.site-header .menu-item {
  margin-right: 24px;
}

.site-header .menu-item-link {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-xs);
  line-height: var(--line-height-xl);
  color: var(--primary-color-200);
  text-decoration: none;
  padding: 10px 0;
}

.site-header .menu-item-link:hover {
  font-weight: var(--font-weight-m);
  color: var(--primary-color-300);
}

.site-header .mr-24 {
  margin-right: 24px;
}

.site-header .btn {
  color: var(--primary-color-200);
}

.site-header .navbar {
  display: none;
  cursor: pointer;
}

.site-header .bar {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0; 
}

@media (max-width: 915px) {
  .site-header {
    width: 0 auto;
    height: 70px;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
  }

  .site-header .logo {
    margin: auto;
  }

  .site-header .branch-container {
    margin-left: 32px;
  }

  .site-header .site-nav {
    display: none;
  }

  .site-header .navbar {
    display: block;
    padding: 5px 43px 10px 0px;
  }
}

@media (min-width: 916px) {
  .site-header .site-header {
    height: 80px;
    margin: 0 auto;
    min-height: 0;
  }
  .site-header .branch-container {
    margin-left: 32px;
  }

  .site-header .site-nav {
    padding-top: 5px;
  }
}
/* END MAIN HEADER */
