/* START PRODUCT */
.section-product {
  padding-top: 150px;
}

.product-introduce {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-l);
  line-height: 51px;
  text-align: center;
  padding: 0;
}

.product-group {
  display: flex;
  padding-top: 56px;
}

.product-box {
  display: grid;
  padding-left: 60px;
}
.feature-icon {
  width: 40px;
  height: auto;
}

.feature-title {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-m);
  line-height: var(--line-height-2xl);
  padding-top: 7px;
  padding-left: 15px;
}

.feature-container {
  display: flex;
}

.feature-content {
  padding-left: 8px;
  line-height: 27px;
  font-weight: var(--font-weight-xs);
}

.product-img-mobile {
  display: none;
}

/* style applied to the mobile */
@media (max-width: 915px) {
  .feature-icon {
    padding: 0;
  }

  .product-introduce {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }

  .feature-title {
    padding-top: 7px;
  }

  .feature {
    text-align: justify;
  }
  .product-group {
    display: block;
  }

  .product-img-desktop {
    display: none;
  }
  .product-img-mobile {
    display: block;
    width: 352px;
    height: auto;
    margin: 33px auto;
  }

  .img-mobile {
    width: 100%;
  }

  .product-box {
    row-gap: 24px;
  }
}

/* style applied to the tablet */
@media (min-width: 916px) {
  .product-img-desktop {
    padding-top: 24px;
    width: 528px;
  }

  .section-product .content {
    width: 533px;
  }

  .product-box {
    row-gap: 32px;
  }
}
/* END PRODUCT */
