/* START QUESTION */
.section-question {
  padding-top: 149px;
}

.section-question .general-container {
  max-width: 960px;
  text-align: center;
}

.section-question .container-icon {
  margin-top: 50px;
}

.icon-question {
  display: inline-flex;
}

.section-question .faq-content {
  text-align: justify;
}

.question-introduce {
  font-size: var( --font-size-xl);
  font-weight: var(--font-weight-l);
  line-height: 51px;
  padding: 0;
}

.question-content {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-xs);
  line-height: 27px;
  padding: 8px 0px 50px;
}

.container-faq-icon {
  display: inline-block;
  width: 24px;
  height: auto;
  padding: 0;
}

.section-question .question {
  padding-top: 0px;
  font-weight: var(--font-weight-s);
  font-size: var( --font-size-s);
  line-height: 27px;
}

.answer {
  font-weight: var(--font-weight-xs);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
}

.horizontal-line {
  border: 1px solid #E7E7E7;
}
.container-faq {
  display: grid;
}

/* style applied to the mobile */
@media (max-width: 915px) {
  .question-introduce {
    font-size: 32px;
    line-height: 48px;
  }

  .question-content {
    padding: 16px 0px 30px;
  }
  
  .answer {
    padding-top: 16px;
  } 

  .question {
    font-weight: var(--font-weight-s);
    font-size: var(--font-size-s);
    line-height: 27px;
    padding-left: 16px;
  }

  .container-faq {
    row-gap: 24px;
  }
}

/* style applied to the tablet */
@media (min-width: 916px) {
  .answer {
    padding-top: 14px;
  }

  .section-question .question {
    padding-left: 16px;
  }

  .container-faq {
    row-gap: 16px;
  }
}
/* END QUESTION */
