/* START QUESTION */
.section-question {
  margin-top: 149px;
}

.section-question .general-content {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}

.section-question .container-icon {
  margin-top: 50px;
}

.icon-question {
  display: inline-flex;
}

.section-question .faq-content {
  text-align: justify;
}

.section-question .branch-icon {
  display: inline-block;
  width: 24px;
  height: auto;
  padding: 0;
}

.section-question .question {
  padding-top: 0px;
  font-weight: var(--font-weight-s);
  font-size: var( --font-size-s);
  line-height: 27px;
}

.answer {
  font-weight: var(--font-weight-xs);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
}

.horizontal-line {
  border: 1px solid #E7E7E7;
}

/* style applied to the mobile */
@media (max-width: 915px) {
  .section-question .introduce {
    font-size: 32px;
    line-height: 48px;
  }

  .section-question .question {
    padding-left: 14px;
  }

  .section-question .mr-bt {
      margin: 24px auto;
  }
}

/* style applied to the tablet */
@media (min-width: 916px) {
  .section-question .mr-bt {
    margin: 16px auto;
  }

  .section-question .question {
    padding-left: 16px;
  }
}
/* END QUESTION */
