@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --font-size-n: 18px;
    --font-size-s: 20px;
    --font-size-x: 24px;
    --font-size-m: 32px;
    --font-size-l: 48px;
    --font-weight: 400;
    --primary-color-100: #FFFFFF;
    --primary-color-120: #F3F0EA;
    --primary-color-150: #66645E; 
    --primary-color-200: #303031;
    --primary-color-300: #71A894;
    --font-family: 'Roboto', sans-serif;
}

.main-header {
    display: flex;
    align-items: flex-start;
}

.branch-container {
   flex: 45%;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.branch-name {
    font-family: var(--font-family);
    color: var(--primary-color-200);
    letter-spacing: -1.28px;
    margin-left: 10px;
    margin-top: 40px;
    font-weight: var(--font-weight);
    font-size: var(--font-size-m);
}

.logo {
    display: flex;
    text-align: center;
    height: 40px;
    width: 60px;
    margin-top: 40px;
    margin-left: 10px;
}

.menu {
    flex: 55%;
    padding: 9px;
    margin-top: 40px;
}

.menu-item {
    display: inline-block;
    margin-right: 30px;
}

.link {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--primary-color-200);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight);
    padding: 3px 0;
}

.link:hover {
    color: var(--primary-color-300);
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------PAGE BODY-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------*/

.section-head {
    display: flex;
    align-items: flex-end;
}

.container-img {
    flex: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.illustrations {
    display: flex;
    height: 400px;
    width: 700px;
    margin-top: 40px;
    margin-left: 5px;
}

.container-heading {
    flex: 45%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 600px;
    height: 350px;
}

.title {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight);
    width: 500px;
    height: 70px;
    margin-top: 10px;
}

.description {
    font-size: var(--font-size-x);
    color: var(--primary-color-150);
    font-weight: var(--font-weight);
    width: 550px;
    height: 50px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin-top: 20px;
}

.button{
    margin-left: 10px;
    background: var(--primary-color-300);
    color: var(--primary-color-100);
    font-size: var(--font-size-n);
    line-height: 24px;
    width: 200px;
    height: 64px;
    border-radius: 8px;
    margin-top: 60px;
    margin-left: 10px;
    text-align: center;
}