@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --font-size-xs: 18px;
    --font-size-s: 20px;
    --font-size-m: 24px;
    --font-size-l: 32px;
    --font-size-xl: 48px;
    --font-weight: 400;
    --primary-color-100: #FFFFFF;
    --primary-color-200: #F3F0EA;
    --primary-color-300: #66645E; 
    --primary-color-400: #303031;
    --secondary-color-100: #71A89480;
    --secondary-color-200: #71A894;
    --line-height-s: 24px;
    --line-height-m: 26px;
    --line-height-l: 28px;
    --line-height-xl: 32px;
    --line-height-xxl: 37.5px;
    --line-height-xxxl: 64px;
    --font-family: 'Roboto', sans-serif;
}

.main-header {
    display: flex;
    align-items: flex-start;
}

.branch-container {
   flex: 45%;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.branch-name {
    font-family: var(--font-family);
    color: var(--primary-color-400);
    line-height: var(--line-height-xxl);
    letter-spacing: -1.28px;
    margin-left: 10px;
    margin-top: 40px;
    font-weight: var(--font-weight);
    font-size: var(--font-size-l);
}

.logo {
    display: flex;
    text-align: center;
    height: 40px;
    width: 60px;
    margin-top: 40px;
    margin-left: 10px;
}

.menu {
    flex: 55%;
    padding: 9px;
    margin-top: 40px;
}

.menu-item {
    display: inline-block;
    margin-right: 30px;
}

.link {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--primary-color-400);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight);
    line-height: var(--line-height-s);
    padding: 3px 0;
}

.link:hover {
    color: var(--secondary-color-200);
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------PAGE BODY-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------*/

.section-head {
    display: flex;
    align-items: flex-end;
}

.container-img {
    flex: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.illustrations {
    display: flex;
    height: 400px;
    width: 700px;
    margin-top: 10px;
    margin-left: 5px;
}

.container-heading {
    flex: 45%;
    flex-direction: column;
    margin-left: 10px;
}

.title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    font-style: var(--font-style);
    line-height: var(--line-height-xxxl);
}

.description {
    font-size: var(--font-size-m);
    color: var(--primary-color-300);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    font-family: var(--font-family);
    line-height: var(--line-height-xl);
    letter-spacing: -0.02em;
}

.title-open-collaboration {
    width: 500px;
    margin-bottom: 10px;
}

.description-open-collaboration {
    width: 500px;
    margin-bottom: 50px;
}

.button {
    background: var(--secondary-color-200);
    color: var(--primary-color-100);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
    border-radius: 8px;
    padding: 20px 24px;
    text-align: center; 
}

.main-content {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}

.illustrative-image {
    display: flex;
    height: 400px;
    width: 600px;
    margin-top: 30px;
    margin-left: -10px;
}

.container-heading {
    flex: 45%;
    flex-direction: column;
}

.title-open-enterprise {
    width: 600px;
}

.description-open-enterprise {
    width: 650px;
    margin-bottom: 50px;
}

.content-summary {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    width: 1328px;
    margin-top: 30px;
    margin-left: 10px;
}

.summary {
    flex-direction: column;
    text-align: center;
}

.title-meaning-of-work {
    width: 895px;
}

.description-meaning-of-work {
    width: 895px;
    line-height: var(--line-height-m);
    font-size: var(--font-size-xs);
    color: var(--primary-color-400);
    text-align: center;
}

.cards {
    display: flex;
    width: 1328px;
}

.card {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: var(--primary-color-100);
    width: 400px;
    height: 350px;
    margin: 10px;
}

.card-tile {
    font-size: var(--font-size-m);
    line-height: var(--line-height-xl);
    color: var(--primary-color-400);
    text-align: center;
    padding: 0px 16px 10px;
}

.card-description {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-m);
    line-height: 26px;
    align-items: center;
    color: var(--primary-color-400);
    width: 350px;
    padding: 0px 24px 64px 24px;
    text-align: center;
}

.icon {
    padding: 65px 160px 25px;
}
  /*----------------------------------------------------------------------------------------------------------------------------------*/
 /*----------------------------------------------------FOOTER------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------*/

.communications {
    display: flex;
    background-color: var(--secondary-color-100);
    width: 1328px;
    height: 109px;
    margin-top: 41px;
}

.branch-name-footer {
    flex: 75%;
    font-size: var(--font-size-m);
    line-height: var(--line-height-l);
    align-self: center;
    margin-left: 30px;
}

.menu-footer {
    float: 25%;
    align-self: center;
}

.menu-item-footer {
    margin-right: 40px;
    margin: 15px;
    justify-content: flex-end;
}