@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 1em;
}

* {
    box-sizing: border-box;
}

article {
    max-width: 940px;
    padding: 10px;
    border-radius: 4px;
}

article::after {
    content: "";
    clear: both;
    display: block;
}

.content {
    float: right;
    width: 70%;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 10px;
}

aside {
    float: left;
    width: 27%;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 10px;
}